header {
  display: flex;
  justify-content: center;
  background-color: rgba(79, 81, 82, 0.2);
  backdrop-filter: blur(15px);
  position: sticky;
  width: 520px;
  left: 0px;
  top: 0px;
  height: 80px;
  align-items: flex-end;
  padding-bottom: 10px;
  opacity: 1;
  font-size: 18px;
  z-index: 1;
  font-size: 15px;
}
