.nav {
  padding-top: 10px;
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  left: 0px;
  background-color: rgba(79, 81, 82, 0.3);
  height: 100px;
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(79, 81, 82, 0.3);
}
.nav__now-play h5,
.nav__look-around h5,
.nav__radio h5,
.nav__storage h5,
.nav__search h5 {
  font-size: 11px;
  margin-top: 10px;
  font-weight: 700;
}

.nav__now-play,
.nav__look-around,
.nav__radio,
.nav__storage,
.nav__search {
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.redpink {
  color: var(--redpink);
}
.nav__link {
  text-decoration: inherit;
  color: white;
}
