::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 2px;
  height: 2px;
}
/* big-version */
.bhs {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.bhs .scroll-lists {
  display: flex;
  flex-wrap: no-wrap;
  overflow-x: auto;
  height: 400px;
  width: auto;
  margin: 0px -20px;
  padding-left: 20px;
}

.bhs .scroll-lists .scroll-lists__list {
  flex: 0 0 auto;
  width: 300px;
  max-width: 100%;
  margin-right: 10px;
}

.bhs .scroll-lists .scroll-lists__list img {
  height: 300px;
  width: 300px;
  border-radius: 15px 15px 0px 0px;
}
.bhs .scroll-lists .subtitle {
  font-size: 11px;
  margin: 5px 0px;
  margin-bottom: 10px;
  color: grey;
  margin-left: 20px;
}
.bhs .cover-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: tomato;
  margin-top: -5px;
  height: 70px;
  border-radius: 0px 0px 15px 15px;
  opacity: 0.85;
}
.bhs .cover-info h4 {
  margin: 3px;
  font-size: 13px;
}
.bhs .cover-info h4:first-child {
  font-weight: 700;
}
/* small-version */
.hs .scroll-lists {
  display: flex;
  flex-wrap: no-wrap;
  overflow-x: auto;
  height: 280px;
  width: auto;
  margin: 0px -20px;
  padding-left: 20px;
}
.list-title {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
}
.list-title i {
  margin-left: 2px;
  font-size: 15px;
  margin-top: -3px;
  color: gray;
  font-weight: 700;
}
.hs .list-title {
  font-weight: 800;
  margin-bottom: 15px;
}
.list-title {
  font-weight: 800;
}
.hs .scroll-lists .scroll-lists__list {
  margin-right: 10px;
}
.hs .scroll-lists .scroll-lists__list img {
  height: 200px;
  width: 200px;
  border-radius: 15px;
}
.hs .scroll-lists .scroll-lists__list .cover-info h4 {
  font-size: 12px;
  margin: 3px 0px;
  font-weight: 600;
  margin-left: 20px;
}
.hs .scroll-lists .scroll-lists__list .cover-info h4:last-child {
  color: gray;
}
/* normal-list-version */
.nhs .scroll-lists {
  display: flex;
  flex-wrap: no-wrap;
  overflow-x: auto;
  height: 280px;
  width: auto;
  margin: 0px -20px;
  padding-left: 20px;
}
