.status-bar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  top: 20px;
  left: 0px;
  padding: 0px 20px;
  width: 520px;
  align-items: center;
  z-index: 2;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: -30px;
}
.status-bar__right,
.status-bar__left {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.status-bar__right i {
  margin-left: 8px;
}
