@import "reset.css";
@import "variables.css";
/* component */
@import "component/nav.css";
@import "component/status-bar.css";
@import "component/header.css";
@import "component/side-scroll.css";
@import "component/now-playing.css";
/* screen */
@import "screens/listen-now.css";
@import "screens/radio.css";
@import "screens/storage.css";
@import "screens/search.css";
* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 100px 20px;
  color: white;
  background-color: black;
  border-radius: 30px;
  margin-bottom: 200px;
  max-width: 500px;
}
html {
  display: flex;
  justify-content: center;
}
